<h1>My interviews index</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>datetime</th>
      <th>judgement</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @interviews.each do |interview| %>
      <tr class=<%=interview.judgement%>>
        <td><%= l interview.interview_datetime, format: :full_date %></td>
        <td><%= t interview.judgement %></td>
        <td><%= link_to "Edit", edit_user_interview_path(@user, interview.id), class: "btn btn-success" %></td>
        <td><%= link_to "Delete", user_interview_path(@user, interview.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_for(@user, url: apply_user_interviews_path, html: {method: 'GET'}) do |f| %>
  <div class="form-group">
    <%= f.collection_select :id, @users, :id, :name %>
    <%= f.submit "Apply", class: "btn btn-info" %>
  </div>
<% end %>

<div class="form-group">
<%= link_to "New Interview", new_user_interview_path(current_user), class: "btn btn-primary" %>
</div>
