<h1><%= @user.name %>さん’s interviews index</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>datetime</th>
      <th>judgement</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @interviews.each do |interview| %>
      <tr class=<%=interview.judgement%>>
        <td><%= l interview.interview_datetime, format: :full_date %></td>
        <td><%= t interview.judgement %></td>
        <td>
          <% if DateTime.now < interview.interview_datetime %>
            <%= form_for([@user, interview], url: judgement_user_interview_path(@user, interview)) do |f| %>
              <%= f.hidden_field :judgement, value: "approval" %>
              <%= f.submit "Save", data: {confirm: "Are you OK?"}, class: "btn btn-success" %>
            <% end %>
          <% else %>
            <button type="button" class="btn btn-default">Past</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
